body, html { 
  background-color: rgb(34, 31, 31); 
  height: 100%; 
  padding: 0; 
  margin: 0; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #bbb;
}

button {
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.6);
  font-size: 3rem; 
  color: rgb(194, 194, 194); 
  background-color: rgb(37, 37, 37);
  padding: 5px;
  border: 3px solid rgb(27, 27, 27);
  cursor: pointer;
  border-radius: 10%;
  color: #31b7f5
}

/* Mobile tweaks */ 
@media (max-width:800px) {
  button {
    font-size: 1.7rem; 
  }
  #modeselect {
    left: 5rem !important;
  }
  #fullscreen {
    left: 9rem !important;
  }  
  #accept {
    font-size: 2.2rem;
  }
  #cancel {
    font-size: 2.2rem;
  }    
}

table {
  margin-left:auto; 
  margin-right:auto;
  text-align: left;
  border-collapse: collapse;
  padding-right: 5px;
  display: inline;
}

table td {
  padding: 0.5rem;
  border: 3px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.3);
}

video { 
  /* width: 99%;
  height: 99%; */
  margin: 0;
  padding: 0;
  /* border-radius: 5%;
  border: 3px solid #111; */
  /* background-color: #000000;  */

}

canvas {
  /* width: 99%;
  height: 99%; */
  margin: 0;
  padding: 0;
  border-radius: 2%;
  border: 3px solid #111;
  display: block;
  z-index: 0;
}

#vidwrap {
  /* border-radius: 5%;
  border: 3px solid #111; */
  display: inline; 
  position: relative; 
  z-index: 0; 
  /* background-color: #13a51a; */
}

#main {
  /* background-color: #3d0055; */
  padding: 0;
  margin: 0;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#output {
  color: rgb(218, 218, 218);
  display: block;
}

#camselect {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 300;
}

#modeselect {
  position: fixed;
  bottom: 1rem;
  left: 7rem;
  z-index: 300;
}

#fullscreen {
  position: fixed;
  bottom: 1rem;
  left: 13rem;
  z-index: 300;
}

#restart {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 300;
}

#accept {
  position: fixed;
  bottom: 2rem;
  left: 20%;
  z-index:300;
  color: #13a51a;
}

#cancel {
  position: fixed;
  bottom: 2rem;
  right: 20%;
  z-index:300;
  color: #ca281d;
}

#dialog {
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.6);
  font-size: 120%;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  max-width: 60%;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  z-index: 200; 
  background-color: rgb(37, 37, 37);
  border: 3px solid rgb(27, 27, 27); 
  cursor: pointer;
}

#dialog ul {
  text-align: left;
}

#dialog a {
  font-size: 70%;
  color: aqua;
}

#helpicon {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  font-size: 1.2rem;
  box-shadow: none;
}

.center { 
  text-align: center; 
  padding-top: 0.5vh; 
  padding-bottom: 0.5vh; 
}

.hidden {
  display: none;
}