body, html { 
  background-color: rgb(34, 31, 31); 
  height: 100%; 
  padding: 0; 
  margin: 0; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #bbb;
  padding-top: 10px;
}

button {
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.6);
  font-size: 3rem; 
  color: rgb(194, 194, 194); 
  background-color: rgb(37, 37, 37);
  padding: 5px;
  border: 3px solid rgb(27, 27, 27);
  cursor: pointer;
  border-radius: 10%;
  color: #31b7f5
}

/* Mobile tweaks */
@media (max-width:800px) {
  button {
    font-size: 1.7rem; 
  }
  #modeselect {
    top: 5rem !important;
  }
  #fullscreen {
    top: 9rem  !important;
  }
  #accept {
    font-size: 2.2rem;
  }
  #cancel {
    font-size: 2.2rem;
  }    
}

video {
  position: relative;
  width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 2%;
  border: 3px solid #111;
}

canvas {
  margin: 0;
  padding: 0;
  border-radius: 2%;
  border: 3px solid #111;
  display: block;
}

table {
  margin-left:auto; 
  margin-right:auto;
  text-align: left;
  border-collapse: collapse;
  display: inline;
  padding-right: 5px;
}

table td {
  padding: 0.5rem;
  border: 3px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.3);
}

#main {
  position: relative;
  padding: 0;
  margin: 0;
  width: 95%; 
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#camselect {
  position: absolute;
  top: 1rem;
  right: 20px;
  z-index: 200;
}

#modeselect {
  position: absolute;
  top: 7rem;
  right: 20px;
  z-index: 200;
}

#fullscreen {
  position: absolute;
  top: 13rem;
  right: 20px;
  z-index: 200;
}

#accept {
  position: absolute;
  bottom: 5rem;
  left: 20%;
  z-index: 300;
  color: #13a51a;
}

#cancel {
  position: absolute;
  bottom: 5rem;
  right: 20%;
  z-index: 300;
  color: #ca281d;
}

#restart {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 200;
}

#output {
  color: rgb(218, 218, 218);
  display: inline-block;
  z-index: 500;
}

#dialog {
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.6);
  font-size: 120%;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  max-width: 60%;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  z-index: 200; 
  background-color: rgb(37, 37, 37);
  border: 3px solid rgb(27, 27, 27); 
  cursor: pointer;
}

#dialog ul {
  text-align: left;
}

#dialog a {
  font-size: 70%;
  color: aqua;
}

#helpicon {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  font-size: 1.2rem;
  box-shadow: none;
}

.center { 
  text-align: center; 
  padding-top: 0.5vh; 
  padding-bottom: 0.5vh; 
}

.hidden {
  display: none;
}