body, html { 
  background-color: rgb(34, 31, 31); 
  height: 100%; 
  padding: 0; 
  margin: 0; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #bbb;
}

button {
  padding: 5px;
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.6);
  font-size: 3rem; 
  background-color: rgb(37, 37, 37);
  border: 3px solid rgb(27, 27, 27);
  cursor: pointer;
  border-radius: 10%;
  color: #31b7f5;
  display: none;
  z-index: 200;
  position: fixed;
}

/* Mobile tweaks */ 
@media (max-width:800px) {
  button {
    font-size: 1.7rem; 
  }
  #modeselect {
    left: 5rem !important;
  }
  #fullscreen {
    left: 9rem !important;
  }  
  #accept {
    font-size: 2.6rem;
  }
  #cancel {
    font-size: 2.6rem;
  }    
}

table {
  margin-left: auto; 
  margin-right: auto;
  text-align: left;
  border-collapse: collapse;
  padding-right: 5px;
  display: inline;
}

table td {
  padding: 0.5rem;
  border: 3px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.3);
}

video { 
  width: 100%;
  height: 100%; 
  margin: 0;
  padding: 0;
}

#offscreen { 
  display: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

#overlay {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 20;
  background-color: rgba(0,0,0,0.0);
}

#main {
  /* background-color: #3d0055;  */
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 1rem;
  overflow: hidden;
}

#output {
  color: rgb(218, 218, 218);
  display: none;
  margin: 10px;
  padding: 10px;
}

#camselect {
  bottom: 1rem;
  left: 1rem;
}

#modeselect {
  bottom: 1rem;
  left: 7rem;
}

#fullscreen {
  bottom: 1rem;
  left: 13rem;
}

#restart {
  top: 1rem;
  left: 1rem;
}

#accept {
  bottom: 3rem;
  left: 50%;
  color: #13a51a;
  transform: translate(-150%, 0);
}

#cancel {
  bottom: 3rem;
  left: 50%;
  color: #ca281d;
  transform: translate(150%, 0);
}

#dialog {
  display: none;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.6);
  font-size: 120%;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 40%;
  max-width: 70%;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  z-index: 200; 
  background-color: rgb(37, 37, 37);
  border: 3px solid rgb(27, 27, 27); 
  cursor: pointer;
}
/* Mobile tweaks */ 
@media (max-width:800px) {
  #dialog {
    max-width: 100%;
    width: 90%;
  }
}

#dialog ul {
  text-align: left;
}

#dialog a {
  font-size: 80%;
  color: aqua;
}

#spinner {
  display: none;
  position: absolute;
  top: 5rem;
  left: 50%; 
  transform: translate(-50%, 0);
  width: 100px;
}

.center { 
  text-align: center; 
}

.hidden {
  display: none;
}