body, html { 
  background-color: rgb(51, 45, 45); 
  height: 100%; 
  max-height: 100%;
  padding: 0; 
  margin: 0; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputfile {
  width: 0.1px; height: 0.1px;
  opacity: 0; overflow: hidden; position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 2em; 
  cursor: pointer; 
  font-weight: 700;
  color: #999; 
  background-color: #111;
  display: inline-block;
  padding: 15px;
  border: 3px solid #777;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #222; color: #bbb
}

#photo {
  /* max-height: 60vh;
  max-width: 100%; */
  border: 3px solid rgb(20, 16, 16);
}

#output {
  color: rgb(218, 218, 218);
}

#spinner img {
  max-height: 20vh;
}

.center { 
  text-align: center; 
  padding-top: 0.5vh; 
  padding-bottom: 0.5vh; 
}

.hidden {
  display: none;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
  text-align: left;
  border-collapse: collapse;
}

table.center td {
  padding: 1vh;
  border: 3px solid rgba(0, 0, 0, 0.4)
}
